
body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

html {
    height: 100%;
}

body {
    min-height: calc(100dvh - 40px);
    box-sizing: border-box;
}


@media (prefers-color-scheme: dark) {
    :root {
        background-color: rgb(28, 28, 30);

        body {
            background-color: rgb(28, 28, 30);

        }
    }

    #editor .ProseMirror-menubar {
        border-radius: 0.4em;
    }
}
