/**/node_modules
.tern-port
/**/*.js
.idea
.vscode
.npmrc
/__screenshots__
.yarn
.yarnrc.yml
.vitepress/cache
docs/.vitepress
/docs/
/website/
.turbo
/**/dist
/build
.DS_Store
.env
.env.local
.env.*.local
coverage
public/worker
