
body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

html {
    height: 100%;
}

body {
    min-height: calc(100dvh - 40px);
    box-sizing: border-box;
}

span.logo {
    display: inline-block;
    position: absolute;
    top: 3%; left: 0;
}

.fullscreen {
    margin-top: 4rem;
}

.fullscreen:has(div[contenteditable]) {
    margin-top: 0;
}

.fullscreen span.logo {
    top: 4px; left: 10px;
    z-index: 100;
}

.demo {
    width: 70%;
    height: 80dvh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    box-shadow: 0 10px 26px 0 rgba(0, 0, 0, .25);
    border-radius: 28px;
    overflow: hidden;
}

.fullscreen .demo {
    width: 100%;
    height: 100dvh;
    margin-top: 0;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0.2em 0 0 0;
    overflow: hidden;
}

div.demo-list-outer {
    box-shadow: 0 10px 26px 0 rgba(0, 0, 0, .25);
    border-radius: 8px;
    margin: 5rem auto 0 auto;
    width: 60%;
    height: 70dvh;
}

div.demo-list {
    text-align: center;
}

ul.demo-list {
    margin-top: 5rem;
    display: flex;
    gap: 5em;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    text-align: center;
}

ul.demo-list li,
ul.demo-list li a {
    text-align: center;
    font-size: 1.2rem;
    color: #121212;
}

ul.demo-list li img {
    display: block;
    margin: 0 auto 1rem auto;
}

.edit-buttons {
    position: absolute;
    top: 25%;
    left: 0;
    text-align: center;
    margin-bottom: 2rem;
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    gap: 1.5rem;
}

.fullscreen .edit-buttons {
    top: 4px;
    left: auto;
    right: 5px;
    flex-direction: row;
    align-items: normal;
    margin: 0;
    z-index: 100;
    width: fit-content;
    gap: 0.5rem;
}

.fullscreen .edit-buttons .docu {
    display: none;
}

.pm-button {
    background-color: rgb(51, 53, 56);
    color: rgb(246, 247, 246);
    outline: none;
    appearance: none;
    border: 1px solid #333;
    padding: 0.9em 2.6rem 0.9rem 2.6rem;
    font-size: 1rem;
    font-weight: 100;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.pm-button:hover {
    cursor: pointer;
    opacity: 1;
}

.edit-buttons a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.edit-buttons .docu {
    margin-top: 3rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        background-color: rgb(28, 28, 30);

        body {
            background-color: rgb(28, 28, 30);

        }
    }

    .demo {
        margin-top: 5rem;
        background-color: rgb(30, 30, 32);
        box-shadow: 0 11px 34px 0 rgba(0, 0, 0, .65);
    }

    div.demo-list-outer {
        border: 1px solid #333333;
        box-shadow: 0 4px 6px 0 rgba(200, 200, 220055, .25);
    }

    ul.demo-list li,
    ul.demo-list li a {
        color: #e8e8e8;
    }

    #editor .ProseMirror-menubar {
        border-radius: 0.4em;
    }
}
