# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

# see: https://pnpm.io/continuous-integration

name: build type editor (feature and develop branches, pull requests)

on:
    pull_request:
        types: [ opened, reopened ]
    push:
        branches:
            - feature
            - develop

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [20]
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
            - name: Install pnpm
              uses: pnpm/action-setup@v4
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: "pnpm"
            - name: Install dependencies
              run: pnpm install
            - name: Install playwright
              run: npx playwright install
            - name: Build type editor
              run: pnpm build:prod
            - name: Run tests
              run: pnpm test
            - name: Generate documentation
              run: pnpm run docs
